
.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.formlogincontainer{
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid #222;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh 10vw;
}

.formlogintitle{
    font-size: 4vh;
    margin-bottom: 5vh;
}

.formloginbutton{
    margin-top: 5vh;
    width: 8vw;
    height: 5vh;
}

.formlogininput{
    margin: 2vh 0;
    padding: 1vh;
}
   
.formloginregister{
    align-self: flex-end;
}