#CGLVI{
  width: 100vw;
  height: 100vh;
  /*background-image: url(Cogimientoland-Fondo.jpg);*/
  background-image: url(DAY.png);
  background-size: cover;
  overflow-x: hidden;
}

.main{
  width: 100%;
  height: 100%;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  max-width: 100vw;
  max-height: 15vh;
}

.JustASeparator{
  border: 0.2vh solid #222;
}

.navbar{
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bolder;
  
  font-size: 3vh;
}

.navbar .inicio, .navbar .lore, .navbar .dropmenu{
  padding: 1vh 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vh;
  font-size: 3.5vh;
  border-bottom: 0.4vh solid #222;
  background-image: url(barra-corta.png);
  background-size: cover;
  transition: all 0.3s;
}

.navbar .inicio:hover, .navbar .lore:hover, .navbar .dropmenu:hover{
  background-color: rgb(200, 245, 247);;
}

.inicio p, .dropmenu p, .lore p{
  padding: 0;
  margin: 0;
  user-select: none;
}

.server{
  border-radius: 1vh 0 1vh 0;
}

.dinamicPage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 73vh;
  background-color: #eee;
}
